body {
    background-image: url("../assets/images/background.jpg");
    background-position: center;
    background-attachment: fixed;
}
/*Main container of the entire game*/
#game {
    position: relative;
    top: 200px;
    background-color: lightgray;
    width: 960px;
    height: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border: 5px solid red;
}
/* Button to start the game sizing */
#game button {
    width: 60%;
}
/*Size and hover effects of all the buttons*/
h2 :hover {
    color: red;
}
h2 {
    margin: 5px;
}
#goBtn {
    background-color: whitesmoke;
    width: 35%;
    border: 3px solid red;
}
#goBtn:hover {
    color: red;
}
#reset {
  background-color: whitesmoke;
    width: 35%;
    border: 3px solid red;
}
#reset:hover {
  color: red;
}
/* Image sizing */
img {
    width: 300px;
    height: 200px;
}
/* Sizing for each guess button */
.userguess {
    background-color: whitesmoke;
    width: 35%;
    text-align: center;
    margin: 5px;
    border: 3px solid red;
}
/* Hover for each guess */
.userguess :hover {
    color: red;
}
/* Header fonts */
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}
/* Media queries */
@media screen and (max-width: 980px) {
    #game {
        width: 95%;
    }
}
@media screen and (max-width: 875px) {
    #game {
        width: 90%;
    }
}
@media screen and (max-width: 435px) {
    #game button {
        width: 90%;
    }
}