body {
    background-image: url("../images/background.jpg");
}
#game {
    position: relative;
    top: 200px;
    background-color: tan;
    width: 960px;
    height: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
}